:root {
  --main-white-color: #eeeeee;
  --main-white2-color: #dce0e0;
  --main-dark-color: #161616;
  --main-dark-light-color: #2e2e2e;
  --main-gray-color: #b1afaf;
  --main-primary-color: #b37d1af1;
  --main-hover-color: #161101;
  --main-transition: 0.3s linear;
  --main-lg-font: 4.5rem;
  --main-lg2-font: 3rem;
  --main-lg3-font: 2.2rem;
  --main-md-font: 1.3rem;
  --main-sm-font: 0.9rem;
  --font-size: 1.2rem;
  --main-font-family: sans-serif;
}
